%h1 Make a New Guest

= simple_form_for @guest do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :invitation_id, collection: @guests, value_method: :invitation_id, label_method: :full_name, prompt: 'New Invitation', hint: 'Choose another guest to group this invitation'
  = f.submit 'Save'
