.invitation
  = simple_form_for :question, url: invitation_url(@invitation), method: :put do |f|
    - @guests.each do |guest|
      .guest{class: "guest_#{guest.id}"}
        %h3= "#{guest.first_name} #{guest.last_name}"
        - @questions.each do |question|
          .question{class: "question_#{question.id}"}
            - case question.field_type
            - when 'boolean'
              = f.input question.label, as: :radio_buttons
            - when 'string'
              = f.input question.label, input_html: { id: "answer_#{question.id}", name: "answer[#{guest.id}][#{question.id}]" }
            - when 'text'
              = f.input question.label, input_html: { id: "answer_#{question.id}", name: "answer[#{guest.id}][#{question.id}]" }, as: :text
    = f.submit "Save"
