.invitation
  - @guests.each do |guest|
    .guest{class: "guest_#{guest.id}"}
      %h3= "#{guest.first_name} #{guest.last_name}"
      = simple_form_for :question, url: guest_url(guest) do |f|
        - @questions.each do |question|
          .question{class: "question_#{question.id}"}
            - case question.field_type
            - when 'boolean'
              = f.input question.label, as: :radio_buttons
            - when 'string'
              = f.input question.label, input_html: { id: "answer_#{question.id}" }
            - when 'text'
              = f.input question.label, input_html: { id: "answer_#{question.id}" }, as: :text
