.instructions
  %h1 Hi there, #{@guests.first.first_name.capitalize},
  %p Below you'll see a section for yourself and each other person on your invitation. Fill the sections for as many people as you are responsible for and click 'Save' when you're done. You can always change it later.

.invitation
  = simple_form_for :question, url: invitation_url(@invitation), method: :put do |f|
    - @guests.each do |guest|
      .guest{class: "guest_#{guest.id}"}
        %h3= "#{guest.first_name} #{guest.last_name}"
        - @questions.each do |question|
          .question{class: "question_#{question.id}"}
            - answer = question.answers.where(guest_id: guest.id).first
            - answer_text = (answer ? answer.answer_text : nil)
            - case question.field_type
            - when 'boolean'
              - if question.options
                = f.input question.label, as: :radio_buttons, collection: question.options.split('|'), input_html: { name: "answer[#{guest.id}][#{question.id}]" }, checked: answer_text
              - else
                = f.input question.label, as: :radio_buttons, input_html: { name: "answer[#{guest.id}][#{question.id}]" }, checked: answer_text
            - when 'string'
              = f.input question.label, input_html: { id: "answer_#{question.id}", name: "answer[#{guest.id}][#{question.id}]", value: answer_text }, required: false
            - when 'text'
              = f.input question.label, input_html: { id: "answer_#{question.id}", name: "answer[#{guest.id}][#{question.id}]", value: answer_text }, as: :text, required: false
    = f.submit "Save", class: 'btn-success'
