= link_to "Repondez", root_path, :class => 'brand'
- if user_signed_in?
  %ul.nav
    %li= link_to "guests", guests_path
    %li= link_to "questions", questions_path
    %li= link_to "answers", audits_path
    %li= link_to "users", users_path
    %li= link_to "sign out", destroy_user_session_path, method: :delete
